{% extends 'shop/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block main_content %}

    <div class="container-fluid marketing mb-5">
        <div class="row">
            <div class="align-center offset-lg-3 offset-md-3 offset-sm-3 offset-xs-3 col-6 pt-5">
                <button class="btn btn-danger btn-lg" type="submit"><i class="fas fa-trash-alt"></i> Confirm if you want to delete the record</button>
                   <a class=" btn btn-warning btn-lg text-light nounderline" href="{% url 'shop:item_list' %}"> <i class="fas fa-frown"></i> No I don't Want.</a>
            </div>
        </div>
    </div>

{% endblock %}