{% extends 'shop/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block main_content %}

<div class="container-fluid marketing mb-5">
        <div class="row">
         <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 demand1">
            <form name="Demand" action="" method="POST">
            {% csrf_token %}
                {{ form|crispy }}
            <br><input type="submit" class="btn btn-primary" Value="submit Form"/>
            </form>
         </div>

                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 demandtable">
                    <div class="table-wrapper-scroll-y my-custom-scrollbar">
                                <table class="table table-sm table-hover table-responsive">
                                    <thead class="bg-dark text-light">
                                    <tr>
                                        <th scope="col">SL No.</th>
                                        <th scope="col">Item</th>
                                        <th scope="col">Quantity</th>
                                        <th scope="col">Edit/Delete</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for item in demands_all %}
                
                                            <tr class="bg-info text-light">
                                            <td>{{ forloop.counter}}</td>
                                            <td>{{ item.Item }}</td>
                                            <td>{{ item.Quantity }}</td>
                                            <td><a href="{% url 'shop:update' item.id %}"><i class="fas fa-edit text-light"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="{% url 'shop:delete' item.id %}"><i class="fas fa-trash-alt text-danger" aria-hidden="true"></i></a></td>
                                            </tr>
                
                                    {% endfor %}
                                   
                                    </tbody>
                                </table>
                        </div>
                        <div class="pl-5">
                            <button name="D" class="btn btn-xs btn-success mt-1 ml-5 px-5" type="submit">
                                <a class="text-light" href="{% url 'shop:demand_download' %}">
                                    Export Demand
                                </a>
                            </button>
                        </div>    
                 </div>
</div>
</div>

{% endblock %}