{% extends 'shop/base.html' %}

{% block main_content %}
<div class="img-fluid home">
    <div class="row">
        <div class="text-center text-light col col-lg-6 col-md-6 col-sm-6 col-xs-6 firstpage1">
              <p style="font-size:2em;">Computer is yours but not it's problem. We will take care.<i class="fa fa-hand-point-left">Click Me</i> </p>
         </div>
        <div class="text-center text-light col col-lg-6 col-md-6 col-sm-6 col-xs-6 firstpage2">
              <p style="font-size:2em;">Computer is yours but not it's problem. We will take care.<i class="fa fa-hand-point-left">Click Me</i> </p>
        </div>
    </div>
</div>
{% endblock %}