{% extends 'shop/base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}
{% block main_content %}

    <div class="container-fluid marketing mb-5">
        <div class="row">
            <div class="offset-lg-4 offset-md-4 col-lg-4 col-md-4 col-sm-12 col-xs-12 pt-3">
                <form name="notice" action="" method="POST">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <br><button class="btn btn-info" type="submit"><i class="fas fa-upload text-light"> publish</i></button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}