{% extends 'shop/base.html' %}
{% load staticfiles %}
{% block main_content %}
<div class="container-fluid marketing mb-5">
        <div class="row">
         <div class="text-center offset-lg-1 offset-md-1 offset-sm-1 offset-xs-1 col-lg-3 col-md-3 col-sm-5 col-xs-11 bg-light mt-3 pt-5">
            <img class="rounded-circle" src="{% static 'shop/images/amc.png' %}" alt="Generic placeholder image" width="140" height="140">
            <div class="mb-3" style="height:15em;"><h2>AMC</h2>
            <p>We provide Annual maintenance on a very satisfactory costs. We visits once in a quarter to check and update the configuration and any fault, if found.</p>
            </div><p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="text-center offset-lg-1 offset-md-1 offset-sm-1 offset-xs-1 col-lg-3 col-md-3 col-sm-5 col-xs-11 bg-light mt-3 pt-5">
            <img class="rounded-circle" src="{% static 'shop/images/pc_maintenance.png' %}" alt="Generic placeholder image" width="140" height="140">
             <div class="mb-3" style="height:15em;"><h2>PC Maintenance</h2>
            <p>If your PC is not letting you work smoothely, don't worry, we are here to teach him that how to serve your master, send it to us or we are just a call away..</p>
            </div><p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
         <div class="text-center offset-lg-1 offset-md-1 offset-sm-1 offset-xs-1 col-lg-3 col-md-3 col-sm-5 col-xs-11 bg-light mt-3 pt-5">
            <img class="rounded-circle" src="{% static 'shop/images/optical-networking.png' %}" alt="Generic placeholder image" width="140" height="140">
             <div class="mb-3" style="height:15em;"><h2>Networking</h2>
            <p>For a smooth business run evrything should be connected and data should be centralized. We will do that for you and you just focus on your business strategy.</p>
            </div><p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->

          <div class="text-center offset-lg-1 offset-md-1 offset-sm-1 offset-xs-1 col-lg-3 col-md-3 col-sm-5 col-xs-11 bg-light mt-3 pt-5">
            <img class="rounded-circle" src="{% static 'shop/images/cctv_icon.png' %}" alt="Generic placeholder image" width="140" height="140">
             <div class="mb-3" style="height:15em;">
                 <h2>CCTV</h2>
            <p>You can't believe someone easily in this selfish modern world so why don't you have a secret eye on everything and catch anything wrong, without being there physically. We will make it easier for you.</p>
            </div><p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
          <div class="text-center offset-lg-1 offset-md-1 offset-sm-1 offset-xs-1 col-lg-3 col-md-3 col-sm-5 col-xs-11 bg-light mt-3 pt-5">
            <img class="rounded-circle" src="{% static 'shop/images/printer.png' %}" alt="Generic placeholder image" width="140" height="140">
             <div class="mb-3" style="height:15em;"><h2>Printer</h2>
            <p>In this modern world when everything is going digital, printing documents have their own importance. Don't let your printer stop working, if it does we are here.</p>
            </div><p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div><!-- /.col-lg-4 -->
         <div class="text-center offset-lg-1 offset-md-1 offset-sm-1 offset-xs-1 col-lg-3 col-md-3 col-sm-5 col-xs-11 bg-light mt-3 pt-5">
            <img class="rounded-circle" src="{% static 'shop/images/about_left.png' %}" alt="Generic placeholder image" width="140" height="140">
             <div class="mb-3" style="height:15em;"><h2>Digital Services</h2>
            <p>Talk, Travel, Study and a lot more. We offer recharge, Online Ticket booking, Online Form Submission and a many other services. We will be happy serving you.</p>
             </div><p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>
          <div class="text-center offset-lg-1 offset-md-1 offset-sm-1 offset-xs-1 col-lg-3 col-md-3 col-sm-5 col-xs-11 bg-light mt-3 pt-5">
            <img class="rounded-circle" src="{% static 'shop/images/phone.png' %}" alt="Generic placeholder image" width="140" height="140">
             <div class="mb-3" style="height:15em;"><h2>Mobile Repairing</h2>
            <p>Talk, Travel, Study and a lot more. We offer recharge, Online Ticket booking, Online Form Submission and a many other services. We will be happy serving you.</p>
             </div><p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
          </div>  <!-- /.col-lg-4 -->
     </div>
</div>
    <!-- /.row -->

{% endblock %}